@use "../variables/variables" as *;
@use "../helpers/mixins" as *;

%links {
  color: white;
  text-decoration: none;
  align-self: center;
  position: relative;
  @include desktop-preset-8;
  &.active {
    &::after {
      opacity: 1;
      border-color: white;
    }
  }
  &:hover::after {
    opacity: 1;
  }
  span {
    font-weight: bolder;
    margin-right: 10px;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 64px;
  position: fixed;
  width: 100%;
  align-items: center;
  .logo {
    padding: 10px;
  }
  .list {
    display: none;
    color: white;
    padding-right: 15px;
    img {
      margin-top: 10px;
      margin-right: 10px;
      float: right;
      cursor: pointer;
    }
    .phone-links {
      @include blur;
      position: absolute;
      left: 100%;
      height: 100vh;
      width: 60vw;
      top: 0;
      z-index: 4;
      transition: 2s;
      padding-left: 32px;
      .close {
        padding: 32px 30px;
        margin-bottom: 48px;
        img {
          padding: 0;
        }
      }
      ul {
        height: 100%;
        list-style: none;
        a {
          @extend %links;
          display: block;
          margin-bottom: 32px;
          &::after {
            content: "";
            border: 1px solid $hr;
            position: absolute;
            right: 0;
            top: 0;
            height: calc(100%);
            opacity: 0;
            transition: 0.7s;
          }
        }
      }
      &.show {
        left: 40%;
      }
    }
  }
  .links {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-right: -10px;
    > ul {
      height: 96px;
      @include blur;
      width: 664px;
      position: relative;
      float: right;
      list-style: none;
      display: flex;
      justify-content: space-around;
      margin: 0;
      align-items: center;
      a {
        @extend %links;
        &::after {
          content: "";
          border: 2px solid $hr;
          position: absolute;
          bottom: -210%;
          left: 50%;
          transform: translateX(-50%);
          width: calc(100% - 10px);
          opacity: 0;
          transition: 0.7s;
        }
      }
    }
    &::before {
      content: "";
      position: absolute;
      border: 1px solid $hr;
      width: calc(100% - 664px);
      left: 32px;
      top: 50%;
      z-index: 2;
      transform: translateY(-50%);
    }
  }
}

@media (max-width: $phones) {
  nav {
    height: 116px;
    .links {
      > ul {
        display: none;
      }
    }
    .list {
      display: block;
    }
  }
}

@media (max-width: $tablets) {
  nav {
    padding: 0;
    padding-left: 40px;
    .logo {
      margin-right: 24px;
    }
    .links {
      ul {
        width: 100%;
      }
      &::before {
        display: none;
      }
    }
  }
}
