@use "../variables/variables" as *;

.crew {
  height: 100vh;
  background-size: cover;
  background-image: url("/assets/crew/background-crew-desktop.jpg");
  padding: 116px 10px 0 0;
}

@media (max-width: $phones) {
  .crew {
    background-image: url("/assets/crew/background-crew-mobile.jpg");
  }
}

@media (max-width: $tablets) {
  .crew {
    background-image: url("/assets/crew/background-crew-tablet.jpg");
  }
}
