@use "../variables/variables" as *;

.tech {
  background-image: url("/assets/technology/background-technology-desktop.jpg");
  .container {
    padding: 0 0 0 165px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    .data {
      display: flex;
      gap: 24px;
      justify-content: center;
      flex-direction: column;
      .title {
        flex: 1;
        @include desktop-preset-5;
        text-transform: uppercase;
        font-weight: normal;
        color: white;
        span {
          margin-right: 24px;
          font-family: $Barlow-c;
          font-weight: bold;
          font-size: 28px;
          letter-spacing: 4.72px;
          color: white;
          opacity: 25%;
        }
      }
      .about {
        flex-basis: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 64px;
        .dest {
          ul {
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 40px;
            li {
              display: flex;
              width: 80px;
              height: 80px;
              border-radius: 50%;
              background-color: $hr;
              text-align: center;
              align-items: center;
              justify-content: center;
              @include desktop-preset-4;
              cursor: pointer;
              position: relative;
              &:hover,
              &.active {
                background-color: white;
              }
            }
          }
        }
        .img {
          flex: 1;
          img {
            float: inline-end;
            width: 100%;
            height: 600px;
          }
        }
        .nav {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: start;
          height: 100%;
          gap: 40px;
          .planet {
            flex-direction: column;
            gap: 40px;
            .info {
              display: flex;
              flex-direction: column;
              .position {
                margin: 0;
                @include desktop-preset-4;
                color: white;
                opacity: 50.42%;
                text-transform: uppercase;
              }
              .name {
                color: white;
                @include desktop-preset-3;
                text-transform: uppercase;
                margin-top: 16px;
                margin-bottom: 24px;
                line-height: 1.2;
              }
              .details {
                margin: 0;
                color: $blue-300;
                @include desktop-preset-9;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: $tablets) {
  .tech {
    .container {
      padding: 0 !important;
    }
    background-image: url("/assets/technology/background-technology-tablet.jpg");
    .title {
      @include tablet-preset-5;
      margin-left: 100px;
      span {
        font-size: 20px !important;
      }
    }
    .about {
      flex-direction: column !important;
      gap: 32px !important;
      .img {
        order: 1;
        img {
          height: 357px !important;
        }
      }
      .dest {
        order: 2;
        ul {
          flex-direction: row !important;
          gap: 16px !important;
          li {
            width: 56px !important;
            height: 56px !important;
            @include tablet-preset-4;
          }
        }
      }
      .nav {
        order: 3;
        align-items: center !important;
        text-align: center;
        width: 500px;
        .planet {
          padding-top: initial !important;
          .position {
            @include tablet-preset-4;
          }
          .name {
            @include tablet-preset-3;
          }
          .details {
            @include tablet-preset-9;
          }
        }
      }
    }
  }
}

@media (max-width: $phones) {
  .tech {
    background-image: url("/assets/technology/background-technology-mobile.jpg");
    .data {
      align-items: center;
      .title {
        margin-left: 0px;
        @include mobile-preset-6;
        span {
          font-size: 16px !important;
        }
      }
    }

    .about {
      .dest ul {
        li {
          width: 40px !important;
          height: 40px !important;
          @include mobile-preset-4;
        }
      }
      .nav {
        width: 327px !important;
        .planet {
          .position {
            @include mobile-preset-4;
          }
          .name {
            @include mobile-preset-3;
          }
          .details {
            @include mobile-preset-9;
          }
        }
      }
    }
  }
}
